/// ============================================================================
/// Styling for bare HTML elements 
/// 
/// This delivers HTML elements: Single HTML element selectors without classes
/// ----------------------------------------------------------------------------
/// @access public
/// @author Martin Schaible
/// @name _elements.typography.scss
/// @group elements
/// @since 27.04.24
/// ============================================================================

h1 {
    font-family: 'Righteous';
    color: var(--#{$prefix}theme-logo-blue-light);
}

h2, h3, h4, h5, h6 {
    font-weight: bold;
}

ul {
    list-style: disc;
    list-style-position: inside;
}
